{% extends "base.html" %}
{% block css %}
<link href="{{ url_for('static', filename="css/signin.css") }}" rel="stylesheet" />
{% endblock %}
{% block title %}
Log In
{% endblock %}
{% block content %}
<form class="form-signin" action="" method="post" name="login">
  {{ form.hidden_tag() }}
  <legend>Log In</legend>
  {{ form.user(placeholder="User", class_="form-control", autofocus=True) }}
  {% if form.errors.user %}
    <span class="alert alert-error">
      {% for userError in form.errors.user %}
        {{ userError }}
      {% endfor %}
    </span>
  {% endif %}
  {{ form.password(placeholder="Password", class_="form-control") }}
  {% if form.errors.password %}
    <span class="alert alert-error">
      {% for passwordError in form.errors.password %}
        {{ passwordError }}
      {% endfor %}
    </span>
  {% endif %}
  <label class="checkbox">
    {{ form.remember_me }}
    Remember me
  </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}
