<div class=post>
    <div class=post-header>
        <h1 class="post-title">
            <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
        </h1>
        <div class=posted>
            <span name=avatar><img src="{{ post.author.avatar(32) }}"></span>
            Posted by
            <span name=author class=label>{{ post.author.username }}</span>.
            <span class="date">{{ post.date() }}</span>
            {% if post.tagged %}
                <div class=tags>
                    Tagged:
                    {% for tag in post.categories %}
                        <span>{{ tag.name }}</span>
                    {% endfor %}
                </div>
           {% endif %}
        </div>
    </div>
    <div class=post-body>
        {{ post.content }}
    </div>
</div>
