<ul>
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="{{ url_for('post', post_id=post.id, _external=True) }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
    <li><div class="fb-like" data-href="{{ url_for('post', post_id=post.id, _external=True) }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></li>
    <li><div class="g-plus" data-action="share" data-annotation="bubble" data-height="15" href="{{ url_for('post', post_id=post.id, _external=True) }}"></div></li>
</ul>
